// ===================================================================================================================
// Section 4: article with picture
// ===================================================================================================================

// Image
.article
	&-pic-1
		margin-top 51px
	&-pic-1__img
		width 100%
	&-pic-1__caption
		margin-top 18px
