// ===================================================================================================================
// Section 6: sign up form and picture
// ===================================================================================================================

// Form
.signup__field
	position relative
	&:not(:last-of-type)
		margin-bottom 20px
	&-input
		width 100%
		padding 9px 0 7px 0
		border 0
		border-bottom 1px solid $brand-2
		outline none
	&-label
		position absolute
		left 0
		top 14px
		font-size $font-size-sm
	&-label
		transition all 0.2s

// Fields states
.signup__field
	&-input--success
		border-bottom 1px solid $success-color
	&-input--error
		border-bottom 1px solid $error-color
	&-message-success
	&-message-error
		margin-top 4px
		display block
		font-size $font-size-xs
	&-message-success
		color $success-color
	&-message-error
		color $error-color




// Float labels
.signup__field-input:focus + .signup__field-label
.signup__field-input.--filled + .signup__field-label
	top -2px
	font-size $font-size-xs
	color $brand-2
	transform translate(0, 0) scale(1)
	
// Styles for active inputs
.signup__field-input:focus
	border-bottom 1px solid $hover-color




// Field with dropdown menu
.signup__field-input--dropdown
	background-image url("../imgs/icons/ico-down-arrow--form.svg")
	background-position 96% 60%
	background-size 9px 4px
	background-repeat no-repeat
	&:hover
		background-image url("../imgs/icons/ico-arrow-active-down--form.svg")
		border-bottom 1px solid $hover-color
		color $hover-color
	&:active
	&:focus
	&.--opened
		background-image url("../imgs/icons/ico-arrow-up--form.svg")
		border-bottom 1px solid $hover-color
		


// Radio buttons
.radio
	&-label
		margin-bottom 12px
		line-height 1
		font-size $font-size-xs--2
	&-group
		@extend .d-flex
	&-group__field
	&-label
		color $brand-3
	&-group__field:not(:last-of-type)
		margin-right 12px
	&-group__field
		position relative
	&-group__field-label
		padding-left calc(24px + 8px)

// Hidden default input
.radio-group__field-input
	position absolute
	left 0
	top 0
	opacity 0

// Custom input
.radio-group__field-input + .radio-group__field-label:before
.radio-group__field-input + .radio-group__field-label:after
	content ""
	position absolute
	border 1px solid
	border-radius 50%

.radio-group__field-input + .radio-group__field-label:before
	width 24px
	height @width
	left 0
	top 0
	border-color $brand-3

.radio-group__field-input + .radio-group__field-label:after
	left 6px
	top 6px
	border 6px solid $brand-1
	opacity 0
	transition opacity 0.2s ease-in-out

// Interactive
.radio-group__field .radio-group__field-input:checked + .radio-group__field-label:after
	opacity 1
.radio-group__field-input:checked + .radio-group__field-label:before
	border-color $brand-1




// Margin for btn and radio buttons
.signup__radio
.signup-btn
	margin-top 32px

// Form button
.signup-btn
	padding 10px 0
	width 100%
	@extend .btn-reset
	background $brand-1
	font-size $font-size-md
	color $brand-white
	border-radius 2px


// Form password list
.rules-list
	margin-top 21px
	@extend .list-reset
	&__item
		padding-left 13px
		position relative
		font-size $font-size-xs
		color $brand-3
		&:not(:last-of-type)
			margin-bottom 9px
	&__item:before
		width 7px
		height 5px
		display block
		content ""
		position absolute
		top 2px
		left 0
		background-image url("../imgs/icons/ico-bullet.svg")
		background-size cover
		background-position center
		background-repeat no-repeat
	&__item--success:before
		background-image url("../imgs/icons/ico-bullet--success.svg")




// Sign up block Picture
.signup-pic
	@extend .d-flex
	flex-direction column
	&__caption
		margin-top 10px
		width 370px
		align-self center
