// ===================================================================================================================
// Core variables and mixins
// ===================================================================================================================
@import "fonts.styl"
@import "variables.styl"
//@import "variables__custom.styl"
//@import 'mixins/bem.styl'
//@import 'mixins/mixins.styl'
//@import 'mixins/mixins__custom.styl'




// ===================================================================================================================
// Core CSS
// ===================================================================================================================
@import "basic/normalize.styl"
@import "basic/reboot.styl"
@import "basic/utils.styl"
@import "basic/grid/container.styl"
@import "basic/grid/row.styl"
@import "basic/grid/col.styl"
@import "basic/grid/grid.styl"
@import "basic/type.styl"
@import "basic/type_links.styl"
@import "basic/layout.styl"
@import "basic/layout__footer.styl"
@import "basic/layout__header.styl"




// ===================================================================================================================
// Components
// ===================================================================================================================
@import "components/global.styl"




// ===================================================================================================================
// Sections and custom styles
// ===================================================================================================================
@import "index.styl"
@import "sections/section-1.styl"
@import "sections/section-2.styl"
@import "sections/section-3.styl"
@import "sections/section-4.styl"
@import "sections/section-5.styl"
@import "sections/section-6.styl"




// ===================================================================================================================
// JS Libs
// ===================================================================================================================
//@import '../js/libs/*/*.css'
