// Latin SF UI Display Regular
@font-face
	font-family "SF UI Display"
	font-style normal
	font-weight 400
	src local("SF UI Display"), local("SFUIDisplay-Regular"),
		url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"),
		url("../fonts/SFUIDisplay-Regular.woff") format("woff")

// Latin SF UI Display Bold
@font-face
	font-family "SF UI Display"
	font-style bold
	font-weight 700
	src local("SF UI Display Bold"), local("SFUIDisplay-Bold"),
		url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"),
		url("../fonts/SFUIDisplay-Bold.woff") format("woff")

// Cyrillic SF UI Display Regular
@font-face
	font-family "SF UI Display"
	font-style normal
	font-weight 400
	src local("SF UI Display Cyr"), local("SFUIDisplayCyr"),
	url("../fonts/SFUIDisplayCyr-Regular.woff2") format("woff2"),
	url("../fonts/SFUIDisplayCyr-Regular.woff") format("woff")
