// Latin SF UI Display Regular
@font-face
	font-family "SF UI Display"
	font-style normal
	font-weight 400
	src local("SF UI Display"), local("SFUIDisplay-Regular"),
		url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"),
		url("../fonts/SFUIDisplay-Regular.woff") format("woff")

// Latin SF UI Display Medium
@font-face
	font-family "SF UI Display"
	font-style bold
	font-weight 600
	src local("SF UI Display Medium"), local("SFUIDisplay-Medium"),
		url("../fonts/SFUIDisplay-Medium.woff2") format("woff2"),
		url("../fonts/SFUIDisplay-Medium.woff") format("woff")

// Latin SF UI Display Light
@font-face
	font-family "SF UI Display"
	font-style light
	font-weight 300
	src local("SF UI Display Light"), local("SFUIDisplay-Light"),
		url("../fonts/SFUIDisplay-Light.woff2") format("woff2"),
		url("../fonts/SFUIDisplay-Light.woff") format("woff")

// Cyrillic SF UI Display Regular
@font-face
	font-family "SF UI Display"
	font-style normal
	font-weight 400
	src local("SF UI Display Cyr"), local("SFUIDisplayCyr"),
	url("../fonts/SFUIDisplayCyr-Regular.woff2") format("woff2"),
	url("../fonts/SFUIDisplayCyr-Regular.woff") format("woff")
