body
	background $brand-white

// Sticky footer
body
	//height 100vh // for old browser min-height 100vh
	min-height 100vh
	display flex
	flex-direction column

.content
	flex 1 0 auto
	
.header
.footer
	flex-shrink 0
	