.footer
	margin-top 75px
	padding 40px 0
	border-top 1px solid $brand-2
	&__container
		@extend .d-flex
		align-items center
		justify-content space-between

// Footer logo
.footer__logo
	width 84px
	height 16px

// Footer text
.footer__text
	color $brand-2

// Sticky footer
body
	height 100vh // for old browser min-height 100vh
	display flex
	flex-direction column

.content
	flex 1 0 auto
	