// ===================================================================================================================
// Main text
// ===================================================================================================================

html
	font-family "SF UI Display", sans-serif
	font-size $font-size-root
	font-weight normal
	line-height $line-height-text
	color $text-color




// ===================================================================================================================
// Headings
// ===================================================================================================================

h1,
h2,
h3,
h4
	font-weight normal
	line-height $headings-line-height
	color $headings-color

h1
	display none

h2
	margin 0 0 9px
	padding 0
	font-size $font-size-h2

h3
	margin-top 1.5rem // 24px
	margin-bottom 1rem // 16px




// ===================================================================================================================
// Paragraph
// ===================================================================================================================

p
	margin-top 0
	margin-bottom 36px
	&:last-of-type
		margin-bottom 0




// ===================================================================================================================
// Lists
// ===================================================================================================================

.list-reset
	margin 0
	padding 0
	line-height 1
	list-style none

ol,
ul,
dl
	margin 0
	padding-left 0

ol ol,
ul ul,
ol ul,
ul ol
	margin-bottom 0

ul:last-of-type
	margin-bottom 0




// ===================================================================================================================
// Placeholders
// ===================================================================================================================

/*::placeholder
	color $brand-gray-dark*/