// ===================================================================================================================
// Clearfix
// ===================================================================================================================

.clearfix
.cf
	clearfix()

.clear
	clear both




// ===================================================================================================================
// Display & positioning
// ===================================================================================================================

// Display
.d-none
	display none

.d-block
	display block

.d-flex
	display flex



// Positioning
.sticky-top
	position sticky
	top 0




// ===================================================================================================================
// Visibility utilities
// ===================================================================================================================

.hidden
	display none




// ===================================================================================================================
// Buttons reset
// ===================================================================================================================

.btn-reset
	padding 0
	background transparent
	border 0
	cursor pointer




// ===================================================================================================================
// Images
// ===================================================================================================================
// Responsive image
.img-fluid
	max-width 100%
	height auto
	display block
